<ul class="quiz-list">
  <% @quizs.each do |quiz| %>
    <li>
        <%= link_to(quiz.name, quiz_path(quiz.id)) %> <br>
        <%= link_to 'Edit post', edit_quiz_path(quiz), class: 'btn btn-sm btn-primary' %> 
        <%= link_to 'Delete quiz', quiz_path(quiz), method: :delete, 
                            data: {confirm: 'You are about to delete this quiz, are you sure?'},
                            class: "btn btn-sm btn-danger" %>
      
    </li>
  <% end %>
</ul>
