<h1>Sign In</h1>
<%= form_with url: session_path, local: true do |f| %>
 <div class="form-group">
    <%= f.email_field :email, :class => "form-control form-control-sm", :placeholder => "email", :style => "width:200px" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, :class => "form-control form-control-sm", :placeholder => "password", :style => "width:200px" %>
  </div>
  <%= f.submit "Sign In", :class => "btn btn-danger", :style => "background-color:#cc0000" %>
<% end %>