<div class="container">
    <div class="intro">
        <h1>Welcome to</h1>
        <img src="/images/codeover.svg" width="500px" alt="Coveover" />
        <div class="buttons">
         <%= button_to("See our list of quizzes", quizzes_path, :class => "btn btn-danger", method: :get, :style => "background-color:#ce0000;") %>
        </div>
    </div>
</div>
