<div class="container">
    <div class="intro">
        <h1>Welcome to</h1>
        <img src="/images/codeover.svg" width="500px" alt="Coveover" />
        <p>Please choose an option:</p>
        <div class="buttons">
        <button type="button" class="btn btn-danger" style="background-color:#ce0000">Take a quiz</button>
        <% if user_signed_in? %>
        <%= button_to("Create a quiz", new_quizzes_path, :class => "btn btn-danger", method: :get, :style => "background-color:#ce0000;margin-left:40px;") %>
        <% else %>
        <%= button_to("Create a quiz", new_session_path, :class => "btn btn-danger", method: :get, :style => "background-color:#ce0000;margin-left:40px;") %>
        <% end %>
        </div>
    </div>
</div>
