<h1>Results:</h1>

<p>Your score: </p>

<h2><%= @result %>/100</h2><br />

<%= button_to("Take another quiz", quizzes_path, :class => "btn btn-danger", method: :get, :style => "background-color:#ce0000;") %>